<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PigLatinized Text</title>
  </head>
  <body>
    <h1>Pig Latinizer Result</h1>
    <p><%=@answer%></p>
  </body>
</html>
