<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form action="/" method="post">
      <p>Your Text Here:<input type="text" name="user_text"></p>
      <input type="submit" name="" value="">
    </form>
  </body>
</html>
