<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
        <title>Pig Latinizer!</title>
  </head>
  <body>
      <form class="" action="/" method="post">
        <label>Enter your phrase:<input type="text" name="user_phrase" value=""></label>
      </form>
  <button type="submit" name="submit">user_phrase</button>
  
  </body>
</html>
